<div class="container-sm">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input class="form-control form-control-lg" 
            type="text" 
            placeholder="Email" 
            formControlName="email"
            aria-label=".form-control-lg example"
        >
        
        <input class="form-control form-control-lg" 
            type="password" 
            placeholder="Password"
            formControlName="password"
            aria-label=".form-control-lg example"
        >

        <button type="submit" class="btn btn-primary mb-3">Accept</button>
    </form>
</div>

